.this_is_bouncy{
   .is_bouncy_item{
       padding: 110px 55px;
       h3{
           margin: 39px 0;
           @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
           font-weight: 300;
           letter-spacing: 4px;
           text-transform: uppercase;
       }
       p{
        @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
        font-weight: 400;
        letter-spacing: 0.7px; 
        margin: 20px 0;
       }
       .btn_primary-1{
        background: $font--color-primary_1;
        width: 140px;
        height: 37px;
        border-radius: 19px;
        border: 1px solid $border--color-primary_1;
        @include font(16px, $font-open_sans-regular, $font--color-primary_2, 12px);
        &:hover{
            transition: 0.3s ease-in;
            background: $bgc--color-primary_3;
            color: $font--color-primary_1;
            border: none;
        }
       }
   } 
   .is_bouncy_img{
       padding: 86px 57px;
   }
}
.about{
    background: $bgc--color-primary_4;
    .about-block{
        text-align: center;
        margin-top: 64px;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
        .about_btn_box{
            display: flex;
            justify-content: center;
            button{
                margin: 10px;
                width: 53px;
                height: 53px;
                border: none;
                border-radius: 50%;
                background: $bgc--color-primary_2;
                i{
                    color: $font--color-primary_1;
                }
                &:hover{
                    background: $bgc--color-primary_1;
                    transition: 0.3s;
                }
            }
        }
    }
    .about_txt_item{
        h4{
            letter-spacing: 0.8;
            font-weight: 400;
            @include font(20px, $font-open_sans-regular, $font--color-primary_6, 81px)
        }
        p{
            @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
            font-weight: 400;
            letter-spacing: 0.7px; 
            span{
                color: $font--color-primary_4;
                font-weight: bold;
            }
        }
    }
    .txt_item{
        padding: 88px 34px 48px;
        p{
            @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
            font-weight: 400;
            letter-spacing: 0.7px; 
            span{
                color: $font--color-primary_4;
                font-weight: bold;
            }
        }
    }
}
.featured_projects{
    .featured_title{
        text-align: center;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .for-img{
        padding: 0;
        .featured_img_box_active{
            width: 100%;
            img{
                width: 100%;
                max-height: 259px;
            }
        }
        .featured_img_box{
            width: 100%;
            max-height: 259px;
            img{
                width: 100%;
            }
            .span_box{
                background: $bgc--color-primary_5;
                height: 259px;
                text-align: center;
                padding: 120px 0;
                    span{
                        @include font(20px, $font-ssp-regular, $font--color-primary_1, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
                    } 
                &:hover{
                    background: none;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    span{
                        font-weight: 400;
                    }
                }     
            }
        }
        .vintage{
            background: url(../../img/Layer_17.png)no-repeat, center;
        }
        .branding{
            background: url(../../img/Layer_18.png)no-repeat, center;
        }
    }
}
.submit{
    background: url(../../img/BG_AND_IMAGE.png)center;
    .submit_line_item{
        padding: 36px 0;
        text-align: center;
        p{
        @include font(20px, $font-open_sans-regular, $font--color-primary_1, 25px);
        font-weight: 400;
        letter-spacing: 0.8px; 
        margin: 0;
        span{
            font-weight: 800;
        }
        }
    }
    .submit_item{
        padding: 28px 0 0;
        .submit_btn{
            background: none;
            width: 140px;
            height: 37px;
            border-radius: 19px;
            border: 1px solid $border--color-primary_2;
            @include font(16px, $font-open_sans-regular, $font--color-primary_1, 12px);
            &:hover{
                transition: 0.3s ease-in;
                background: $bgc--color-primary_3;
                color: $font--color-primary_1;
                border: none;
            }
        }
    }
}
.services{
    padding: 0 0 100px;
    .service_title{
        text-align: center;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .service_shelf{
        .service_tool{
            float:left;
            display: grid;
            margin: 10px 20px;
            .circle_btn{
                box-shadow:4px 2px 14px #bababa, inset 0 0 1px #fff; 
                outline: none;
                margin: 10px;
                width: 53px;
                height: 53px;
                border: none;
                border-radius: 50%;
                background: $bgc--color-primary_2;
                i{
                    color: $font--color-primary_1;
                }
                &:hover{
                    background: $bgc--color-primary_1;
                    transition: 0.3s;
               }
            }
            .click_btn{
                box-shadow: none;
                background: $bgc--color-primary_1;
            }   
        }
        .service_shelf_item{
            display: none;
            transition: 0.3s ease-in-out;
            h4{
                letter-spacing: 0.8;
                font-weight: 400;
                @include font(20px, $font-open_sans-regular, $font--color-primary_6, 81px)
            }
            p{
                @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
                font-weight: 400;
                letter-spacing: 0.7px; 
                span{
                    color: $font--color-primary_4;
                    font-weight: bold;
                }
            }

        }
        
    }
    .progress_bar{
        display: flex;
        //
        // 
        // 
        // 
        
          
          .circles {
            margin-bottom: -10px;
          }
          
          .circle {
            width: 135px;
            margin: 86px 6px 20px;
            display: inline-block;
            position: relative;
            text-align: center;
            line-height: 1.2;
          }
          
          .circle canvas {
            vertical-align: top;
          }
          
          .circle {
            strong{
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            }
          }
          
          .circle strong i {
            font-style: normal;
            font-size: 0.6em;
            font-weight: normal;
          }
          
          .circle span {
            display: block;
            color: #aaa;
            margin-top: 12px;
          }
          
          
          
          p {
            margin: 40px 0;
          }
    }
}
.impressed{
    background: url(../../img/BG.jpg)center;
    .impressed_item{
        padding: 60px 0;
        h4{
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 4px;
            @include font(20px, $font-ssp-regular, $font--color-primary_8, 81px)
        }
        p{
            @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
            font-weight: 400;
            letter-spacing: 0.7px;
            span{
                color: $font--color-primary_4;
                font-weight: bold;
            }
            &:nth-last-child(2n+1){
                text-transform: uppercase;
            }
        }
    }
    .impressed_img{
        .impressed_img_box{
            position: absolute;
            width: 100%;
            top: -100px;
            img{
                width: 100%;
            }
        }
    }
}
.gallery{
    background: $bgc--color-primary_4;
    .gallery_title{
        text-align: center;
        h3{
            margin: 79px 0 30px;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .gallery_filter{
        text-align: center;
        padding: 12px 0;
        ul{
            margin: 0;
            padding: 14px 0;
            li{
                transition: 0.6s linear;
                padding: 0 13px;
                display: inline-block;
                a{
                    font-weight: 300;
                    @include font(16px, $font-open_sans-regular, $font--color-primary_6, 12px);
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: $font--color-primary_4;
                        transform: scale(0);
                        transition: 0.6s;
                    }
                    &:hover{
                       cursor: pointer;
                    }
                    &:hover:after{
                        transform: scale(1.0);
                    }
                }
            }
            .active{
                border-bottom: 1px solid $font--color-primary_4;
            }
        }
    }
    .gallery_container{
        padding: 10px 0;
        width: 100%;
        // height: 100vh;
        .gallery_item{
            display: grid;
            grid-template-columns: repeat(4, minmax(20px, 1fr));
            grid-template-rows: repeat(20, 2vw);
            grid-gap: 10px;
            .gallery_item_box{
                position: relative;
                width: 100%;
                height: 100%;
                .gallery_hover{
                    // display: none;
                    opacity: 0;
                    padding: 59px 36px;
                    top: 0;
                    transition: 0.3s ease-in;
                    transform: scale(0.1);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: 0.7);
                    h3{
                        @include font(20px, $font-open_sans-regular, $font--color-primary_4, 12px);
                        font-weight: 300;
                        line-height: 46px;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        &::after{
                            content: '';
                            display: block;
                            border-bottom: 1px solid $font--color-primary_4;
                            width: 85%;
                        }
                    }
                    p{
                        @include font(12px, $font-open_sans-regular, $font--color-primary_9, 20px);
                        font-weight: 400;
                        letter-spacing: 0.6px;
                        margin: 26px 0;
                    }
                    button{
                        text-align: center;
                        padding: 3px 0;
                        width: 29px;
                        border: none;
                        outline: none;
                        height: 29px;
                        border-radius: 50%;
                        background: $bgc--color-primary_6;
                        color: $font--color-primary_1;
                        transition: 0.3s ease-in;
                        &:hover{
                            color: $font--color-primary_4;
                            background: none;
                        }
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover{
                    .gallery_hover{
                        opacity: 1;
                        transition: 0.4s ease-in-out;
                        transform: scale(1);
                        h3{
                            &:after{
                                width: 12%;
                                transition: 1.1s ease-in-out;
                            }
                        }
                    }
                }
            }
            #item-one{
                grid-column: 1/2;
                grid-row: 1/11;
            }
            #item-two{
                grid-column: 2/2;
                grid-row: 1/7;
                .gallery_hover{
                    padding: 20px 36px;
                }
            }
            #item-three{
                grid-column: 3/3;
                grid-row: 1/9;
            }
            #item-four{
                grid-column: 4/4;
                grid-row: 1/11;
            }
            #item-five{
                grid-column: 1/2;
                grid-row: 21/11;
            }
            #item-six{
                grid-column: 2/3;
                grid-row: 7/16;
            }
            #item-seven{
                grid-column: 3/4;
                grid-row: 16/21;
            }
            #item-eight{
                grid-column: 4/4;
                grid-row: 19/11;
            }
            #item-nine{
                grid-column: 3/4;
                grid-row: 9/15;
                .gallery_hover{
                    padding: 23px 36px;
                }
            }
            #item-ten{
                grid-column: 4/4;
                grid-row: 11/21;
            }
            #item-eleven{
                grid-column: 2/2;
                grid-row: 16/21;
                .gallery_hover{
                    padding: 1px 31px;
                    p{
                        margin: 18px 0;
                    }
                }
            }
            #item-twelve{
                grid-column: 3/3;
                grid-row: 21/15;
                .gallery_hover{
                    padding: 20px 36px;
                }
            }
        }
    }
    .section-line{
        width: 100%;
        background: url(../../img/2-layers.jpg) center;
        background-size: cover;
        padding: 20px 0;
        text-align: center;
        margin: 30px 14px 49px;
        p{
            @include font(16px, $font-open_sans-regular, $font--color-primary_1, 25px);
            font-weight: 400;
            letter-spacing: 0.8;
            margin: 10px 0;
        }
        .section-line-btn{
            background: none;
            width: 140px;
            height: 37px;
            border-radius: 19px;
            border: 1px solid $border--color-primary_2;
            @include font(16px, $font-open_sans-regular, $font--color-primary_1, 12px);
            &:hover{
                transition: 0.3s ease-in;
                background: $bgc--color-primary_3;
                color: $font--color-primary_1;
                border: none;
            }
        }
    }

}
.team{
    .team_title{
        text-align: center;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .sl{
        .sl__slide{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            .sl__img_box{
                position: relative;
                img{
                    width: 100%;
                }
                .sl__img_hover{
                    opacity: 0;
                    transition: 0.3s ease-in;
                    position: absolute;
                    width: 93%;
                    background: $bgc--color-primary_7;
                    top: 0;
                    height: 95%;
                    display: block;
                    margin: 9px;
                    padding: 102px 26%;
                    &:hover{
                        opacity: 1;
                    }
                    button{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: none;
                        border: none;
                        margin: 50% 0;
                        outline: none;
                        color: $font--color-primary_7;
                        transition: 0.3s ease-in;
                        &:hover{
                            color: $font--color-primary_4;
                        }
                    }
                }
            }
            .sl__text{
                text-align: right;
                h4{
                    @include font(20px, $font-open_sans-regular, $font--color-primary_6, 12px);
                    font-weight: 400;
                }
                span{
                    @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 1.4px;
                }
                p{
                    @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
                    font-weight: 400;
                    letter-spacing: 0.7px; 
                    margin: 30px 0;
                   }
            }
        }
    }
}