.this_is_bouncy{
   .is_bouncy_item{
       padding: 110px 55px;
       h3{
           margin: 39px 0;
           @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
           font-weight: 300;
           letter-spacing: 4px;
           text-transform: uppercase;
       }
       p{
        @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
        font-weight: 400;
        letter-spacing: 0.7px; 
        margin: 20px 0;
       }
       .btn_primary-1{
        background: $font--color-primary_1;
        width: 140px;
        height: 37px;
        border-radius: 19px;
        border: 1px solid $border--color-primary_1;
        @include font(16px, $font-open_sans-regular, $font--color-primary_2, 12px);
        &:hover{
            transition: 0.3s ease-in;
            background: $bgc--color-primary_3;
            color: $font--color-primary_1;
            border: none;
        }
       }
   } 
   .is_bouncy_img{
       padding: 86px 57px;
   }
}
.about{
    background: $bgc--color-primary_4;
    .about-block{
        text-align: center;
        margin-top: 64px;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
        .about_btn_box{
            display: flex;
            justify-content: center;
            button{
                margin: 10px;
                width: 53px;
                height: 53px;
                border: none;
                border-radius: 50%;
                background: $bgc--color-primary_2;
                i{
                    color: $font--color-primary_1;
                }
                &:hover{
                    background: $bgc--color-primary_1;
                    transition: 0.3s;
                }
            }
        }
    }
    .about_txt_item{
        h4{
            letter-spacing: 0.8;
            font-weight: 400;
            @include font(20px, $font-open_sans-regular, $font--color-primary_6, 81px)
        }
        p{
            @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
            font-weight: 400;
            letter-spacing: 0.7px; 
            span{
                color: $font--color-primary_4;
                font-weight: bold;
            }
        }
    }
    .txt_item{
        padding: 88px 34px 48px;
        p{
            @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
            font-weight: 400;
            letter-spacing: 0.7px; 
            span{
                color: $font--color-primary_4;
                font-weight: bold;
            }
        }
    }
}
.featured_projects{
    .featured_title{
        text-align: center;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .for-img{
        padding: 0;
        .featured_img_box_active{
            width: 100%;
            img{
                width: 100%;
                max-height: 259px;
            }
        }
        .featured_img_box{
            width: 100%;
            max-height: 259px;
            img{
                width: 100%;
            }
            .span_box{
                background: $bgc--color-primary_5;
                height: 259px;
                text-align: center;
                padding: 120px 0;
                    span{
                        @include font(20px, $font-ssp-regular, $font--color-primary_1, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
                    } 
                &:hover{
                    background: none;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    span{
                        font-weight: 400;
                    }
                }     
            }
        }
        .vintage{
            background: url(../../img/Layer_17.png)no-repeat, center;
        }
        .branding{
            background: url(../../img/Layer_18.png)no-repeat, center;
        }
    }
}
.submit{
    background: url(../../img/BG_AND_IMAGE.png)center;
    .submit_line_item{
        padding: 36px 0;
        text-align: center;
        p{
        @include font(20px, $font-open_sans-regular, $font--color-primary_1, 25px);
        font-weight: 400;
        letter-spacing: 0.8px; 
        margin: 0;
        span{
            font-weight: 800;
        }
        }
    }
    .submit_item{
        padding: 28px 0 0;
        .submit_btn{
            background: none;
            width: 140px;
            height: 37px;
            border-radius: 19px;
            border: 1px solid $border--color-primary_2;
            @include font(16px, $font-open_sans-regular, $font--color-primary_1, 12px);
            &:hover{
                transition: 0.3s ease-in;
                background: $bgc--color-primary_3;
                color: $font--color-primary_1;
                border: none;
            }
        }
    }
}
.services{
    padding: 0 0 100px;
    .service_title{
        text-align: center;
        h3{
            margin: 39px 0;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .service_shelf{
        .service_tool{
            float:left;
            display: grid;
            margin: 10px 20px;
            .circle_btn{
                box-shadow:4px 2px 14px #bababa, inset 0 0 1px #fff; 
                outline: none;
                margin: 10px;
                width: 53px;
                height: 53px;
                border: none;
                border-radius: 50%;
                background: $bgc--color-primary_2;
                i{
                    color: $font--color-primary_1;
                }
                &:hover{
                    background: $bgc--color-primary_1;
                    transition: 0.3s;
               }
            }
            .click_btn{
                box-shadow: none;
                background: $bgc--color-primary_1;
            }   
        }
        .service_shelf_item{
            display: none;
            transition: 0.3s ease-in-out;
            h4{
                letter-spacing: 0.8;
                font-weight: 400;
                @include font(20px, $font-open_sans-regular, $font--color-primary_6, 81px)
            }
            p{
                @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
                font-weight: 400;
                letter-spacing: 0.7px; 
                span{
                    color: $font--color-primary_4;
                    font-weight: bold;
                }
            }

        }
        
    }
    .progress_bar{
        display: flex;
        //
        // 
        // 
        // 
        
          
          .circles {
            margin-bottom: -10px;
          }
          
          .circle {
            width: 135px;
            margin: 86px 6px 20px;
            display: inline-block;
            position: relative;
            text-align: center;
            line-height: 1.2;
          }
          
          .circle canvas {
            vertical-align: top;
          }
          
          .circle {
            strong{
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            text-align: center;
            line-height: 40px;
            font-size: 30px;
            }
          }
          
          .circle strong i {
            font-style: normal;
            font-size: 0.6em;
            font-weight: normal;
          }
          
          .circle span {
            display: block;
            color: #aaa;
            margin-top: 12px;
          }
          
          
          
          p {
            margin: 40px 0;
          }
    }
}
.impressed{
    background: url(../../img/BG.jpg)center;
    .impressed_item{
        padding: 60px 0;
        h4{
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 4px;
            @include font(20px, $font-ssp-regular, $font--color-primary_8, 81px)
        }
        p{
            @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
            font-weight: 400;
            letter-spacing: 0.7px;
            span{
                color: $font--color-primary_4;
                font-weight: bold;
            }
            &:nth-last-child(2n+1){
                text-transform: uppercase;
            }
        }
    }
    .impressed_img{
        .impressed_img_box{
            position: absolute;
            width: 100%;
            top: -100px;
            img{
                width: 100%;
            }
        }
    }
}
.gallery{
    .gallery_title{
        text-align: center;
        h3{
            margin: 79px 0 30px;
            @include font(20px, $font-ssp-regular, $font--color-primary_2, 12px);
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        p{
         @include font(14px, $font-open_sans-regular, $font--color-primary_3, 25px);
         font-weight: 400;
         letter-spacing: 0.7px; 
         margin: 30px 0;
        }
    }
    .gallery_filter{

    }
    .gallery_item{
        display: grid;
        grid-template-columns: 4;
        
    }

}