body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    header{
        position: absolute;
        width: 100%;
        background: none;
        .brand-logo{
            padding: 20px 0;
            a{
                text-decoration: none;
                h1{
                    margin: 0;
                    font-weight: 800;
                    @include font(25px, $font-jonh-bold, $font--color-primary_1, 12px);
                }
            }
        }
        nav{
            display: flex;
            justify-content: center;
            input{
                display: none;
            }
            label{
                margin: 0;
                ul{
                    margin: 0;
                    padding: 14px 0;
                    li{
                        transition: 0.6s linear;
                        padding: 0 13px;
                        display: inline-block;
                        a{
                            @include font(16px, $font-open_sans-regular, $font--color-primary_1, 12px);
                            &::after{
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                background: $font--color-primary_1;
                                transform: scale(0);
                                transition: 0.6s;
                            }
                            &:hover{
                                color: $font--color-primary_1;
                                text-decoration: none;
                            }
                            &:hover:after{
                                transform: scale(1.0);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
   .menu_item{
       padding: 0 5px;
   }
}
@media screen and (max-width: 768px){
    .brand-logo{
        width: 70%;
    }
    label{
        span{
            position: absolute;
            clear: both;
            width: 30px;
            height: 2px;
            top: -40px;
            right: 10px;
            display: block;
            background: $font--color-primary_1;
            transition: 0.6s;
            &:hover{
                cursor: pointer;
            } 
        }
        .first_span{
            top: -38px;
        }
        .second_span{
            top: -29px;
        }
        .third_span{
            top: -20px;
        }
        ul{
            .menu_item{
                display: none;
                text-align: center;
                margin: 17px 0;
            }
        }
        

    }
    input{
        display: none;
        &:checked ~ label{
            span {
                // margin: 0;
                // top: 50%;
               }
            .first_span {
                top: -30px;
                opacity: 1;
                transform: rotate(405deg);
                }
            .second_span{
                display: none;
            }
            .third_span {
                top: -30px;
                opacity: 1;
                transform: rotate(-405deg);
                }
            ul{
                .menu_item{
                    display: block;
                    
                }
            }    
        }
    }
}