<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 footer_item">
                <a href="#">
                    <h1>Bouncy</h1>
                </a>
                <p>Copyright 2015. All rights Reserved</p>
                <div class="footer_social-buttons">
                    <ul>
                        <li class="f_facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="f_twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="f_linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="f_instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="f_vimeo"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>