<section id="_bouncy" class="this_is_bouncy">
    <div class="container">
        <div class="row">
            <div class="col-12 order-last order-sm-first order-md-first order-lg-first col-md-7 col-sm-7">
                <div class="is_bouncy_item fadeInDown">
                    <h3>This is Bouncy</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    <button class="btn_primary-1">Read More</button>
                </div>
            </div>
            <div class="col-12 order-first order-sm-last order-md-last order-lg-last col-md-5 col-sm-5">
                <div class="is_bouncy_img">
                    <img src="../img/IPAD.png" alt="ipad">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="_about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-block">
                    <h3>DetailS ABOUT BOUNCY</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui<br /> blanditiis praesentium</p>
                    <div class="about_btn_box">
                        <button onclick="opTab('creative')"><i class="far fa-heart"></i></button>
                        <button onclick="opTab('lorem')"><i class="fas fa-mouse"></i></button>
                        <button onclick="opTab('professional')"><i class="far fa-lightbulb"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about_txt_item animated fadeIn" id="creative">
                    <h4>Creative Ideas</h4>
                    <div class="txt_column">
                        <p>At <span>vero</span> eos et accusamus et iusto odio dignissimos <b>ducimus</b> qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores At vero eos et accusamus et
                            iusto
                            odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                            occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt
                            mollitia
                            animi, id est laborum et dolorum fuga. Et harum quidem</p>
                    </div>
                </div>
                <div class="about_txt_item animated fadeIn" id="lorem">
                    <h4>Lorem Ipsum</h4>
                    <div class="txt_column">
                        <p>At <span>vero</span> eos et accusamus et iusto odio dignissimos <b>ducimus</b> qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores At vero eos et accusamus et
                            iusto
                            qui blanditiis praesentium voluptatum
                            deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                            occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt
                            mollitia
                            animi, id est laborum et dolorum fuga. Et harum quidem</p>
                    </div>

                </div>
                <div class="about_txt_item animated fadeIn" id="professional">
                    <h4>Professional</h4>
                    <div class="txt_column">
                        <p>At <span>vero</span> eos et accusamus et iusto odio dignissimos <b>ducimus</b> qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores At vero eos et accusamus et
                            iusto
                            odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                            occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt
                            et dolorum fuga. Et harum quidem</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-7">
                <div class="txt_item" id="creative">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                        occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt mollitia
                        animi, id est laborum et dolorum fuga. Et harum quidem r</p>
                </div>
                <div class="txt_item" id="lorem">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                        occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt mollitia
                        animi, id est laborum et dolorum fuga. Et harum quidem r</p>
                </div>
                <div class="txt_item" id="professional">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                        occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt mollitia
                        animi, id est laborum et dolorum fuga. Et harum quidem r</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="featured_projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="featured_title">
                    <h3>FEATURED PROJECTS</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 for-img">
                <div class="featured_img_box layer">
                    <!-- <img src="../img/Layer_83.png" alt="img1"> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 for-img">
                <div class="featured_img_box vintage">
                    <div class="span_box">
                        <span>VINTAGE</span>
                    </div>
                    <!-- <img src="../img/Layer_17.png" alt="img1"> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 for-img">
                <div class="featured_img_box branding">
                    <div class="span_box">
                        <span>Branding</span>
                    </div>
                    <!-- <img src="../img/Layer_18.png" alt="img1"> -->
                </div>
            </div>
        </div>
        <!-- <div class="submit_line">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis </p>
            <button class="btn_primary-1">Submit Now</button>
        </div> -->

    </div>
</section>
<section class="submit">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 submit_line_item">
                <p>At vero eos et <span>accusamus</span> et iusto odio dignissimos ducimus qui blanditiis </p>
            </div>
            <div class="col-md-3 col-sm-12 submit_item">
                <button class="submit_btn"><a href="#_subscribe">Submit Now</a></button>
            </div>
        </div>
    </div>
</section>
<section id="_services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-12 service_title">
                <h3>Our Services</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-12 order-lg-first order-md-last order-sm-last service_shelf">
                <div class="service_tool">
                    <button class="circle_btn tablink" onclick="openTab(event, 'first_tab')"><i
                            class="fas fa-tools"></i></button>
                    <button class="circle_btn tablink" onclick="openTab(event, 'second_tab')"><i
                            class="fas fa-paint-roller"></i></button>
                    <button class="circle_btn tablink" onclick="openTab(event, 'third_tab')"><i
                            class="fas fa-gamepad"></i></button>
                    <button class="circle_btn tablink" onclick="openTab(event, 'fourth_tab')"><i
                            class="fas fa-plug"></i></button>
                </div>
                <div class="service_shelf_item tab animated fadeIn" style="display: block;" id="first_tab">
                    <h4>Graphic Design</h4>
                    <p>At vero eos et accusamus et <span>iusto</span> odio dignissimos <b>ducimus</b> qui blanditiis
                        praesentium voluptatum
                        deleniti</p>
                    <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <span>similique
                            sunt</span>
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
                </div>
                <div class="service_shelf_item tab animated fadeIn" id="second_tab">
                    <h4>Branding</h4>
                    <p>Lorem ipsum dolor sit amet consectetur <span>adipisicing</span> elit. Accusamus vel illum cumque
                        quibusdam totam quod ab? Dolores, eos ducimus <b>numquam</b> reiciendis, laudantium sit rem
                        culpa iste, incidunt possimus natus nulla?</p>
                    <p>Morbi vitae hendrerit nibh. Maecenas <span>sem est</span> , pellentesque id purus auctor, euismod
                        venenatis elit. Maecenas convallis odio et aliquet accumsan.

                    </p>
                </div>
                <div class="service_shelf_item tab animated fadeIn" id="third_tab">
                    <h4>Web Design</h4>
                    <p>Nunc mollis dolor sapien, sed aliquam sem porta id. Nulla accumsan <span>pretium</span> mi ac
                        auctor. Nulla tincidunt purus <b>eu nunc</b> facilisis feugiat. Pellentesque posuere nulla in
                        orci porta ornare.</p>
                    <p>Morbi et leo ac dui tincidunt <span>volutpat</span> . Quisque pharetra consectetur nunc, at
                        venenatis nisi
                        consequat et. Ut a interdum diam. Integer in dolor et lectus aliquet mollis ut non lectus.</p>
                </div>
                <div class="service_shelf_item tab animated fadeIn" id="fourth_tab">
                    <h4>UI/UX</h4>
                    <p>Curabitur rhoncus tempor purus sed ultricies. Cras urna magna, <span>ultricies</span> eu mollis
                        ac, accumsan et velit. Fusce id <b>augue</b> nisi. Etiam tincidunt pellentesque gravida.</p>
                    <p>Proin tincidunt erat non eros ultrices vehicula. Praesent lorem tellus, <span>bibendum</span> nec
                        felis ac, eleifend tempus felis. </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 order-lg-last order-md-first order-sm-first progress_bar animated fadeIn">
                <!--  -->
                <div class="first circle">
                    <strong></strong>
                    <span>Branding</span>
                </div>
                <div class="second circle">
                    <strong></strong>
                    <span>Web Design</span>
                </div>
                <div class="third circle">
                    <strong></strong>
                    <span>UI/UX</span>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</section>
<section class="impressed">
    <div class="container-md">
        <div class="row">
            <div
                class="col-12 order-last order-md-first order-lg-first col-md-7 col-sm-6 impressed_item animated fadeIn delay-1s">
                <h4>Impressed ?</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias</p>
                <p> - <b>Abdullah Noman</b><br />
                    Creatice Director, <span>Code Cafe</span> </p>
            </div>
            <div class="col-12 order-first order-md-last order-lg-last col-md-5 col-sm-6 impressed_img">
                <div class="impressed_img_box">
                    <img src="../img/Group_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="_portfolio" class="gallery">
    <div class="container-md">
        <div class="row">
            <div class="col-12 gallery_title">
                <h3>THE PORTFOLIO</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui<br /> blanditiis praesentium</p>
            </div>
        </div>
        <!--  -->
        <div class="row">
            <div class="col-12 gallery_filter">
                <ul id="buttons">
                    <!-- https://www.youtube.com/watch?v=icZRbxwHQ4s -->
                    <li data-target="all"><a>All works</a></li>
                    <li data-target="print"><a>Print</a></li>
                    <li data-target="identity"><a>Identity</a></li>
                    <li data-target="branding"><a>Branding</a></li>
                    <li data-target="web"><a>Web</a></li>
                    <li data-target="html"><a>HTML</a></li>
                    <li data-target="wordpress"><a>Wordpress</a></li>
                </ul>
            </div>
        </div>
        <!-- ------gallery start------ -->
        <div class="gallery_container">
            <div class="gallery_item">
                <div class="gallery_item_box" data-id="branding" id="item-one">
                    <img src="../img/gallery-1.jpg" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="identity" id="item-two">
                    <img src="../img/gallery-2.jpg" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="identity" id="item-three">
                    <img src="../img/gallery-3.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="branding" id="item-four">
                    <img src="../img/gallery-4.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="identity" id="item-five">
                    <img src="../img/gallery-5.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="branding" id="item-six">
                    <img src="../img/gallery-6.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="web" id="item-seven">
                    <img src="../img/gallery-7.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="wordpress" id="item-eight">
                    <img src="../img/gallery-8.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="html" id="item-nine">
                    <img src="../img/gallery-9.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="web" id="item-ten">
                    <img src="../img/gallery-10.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="print" id="item-eleven">
                    <img src="../img/gallery-11.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" data-id="print" id="item-twelve">
                    <img src="../img/gallery-12.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section-line">
                <p>At vero eos et <b>accusamus</b> et iusto odio <b>dignissimos</b> ducimus qui blanditiis </p>
                <button class="section-line-btn"><a href="#_subscribe">Start Project</a></button>
            </div>
        </div>
        <!-- ----------gallery end---------- -->
        <!--  -->
    </div>
</section>
<section id="_team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-12 team_title">
                <h3>THE TEAM</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui<br /> blanditiis praesentium</p>
            </div>
        </div>
        <div class="sl">
            <div class="sl__slide">
                <div class="sl__img_box">
                    <img class="sl__img" src="../img/Layer_103.jpg" alt="">
                    <div class="sl__img_hover">
                        <button><i class="fab fa-instagram"></i></button>
                        <button><i class="fab fa-facebook-f"></i></button>
                        <button><i class="fab fa-twitter"></i></button>
                    </div>
                </div>
                <div class="sl__text">
                    <div class="forborder">
                        <h4>Abdullah Noman</h4>
                        <span>Creative Director, Code Cafe</span>
                    </div>
                    <p>At vero eos et accusamus et iusto odio </br> dignissimos ducimus qui blanditiis praesentium</p>
                    <div class="progress_block">
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>Branding</span>
                                <span data-target="80" id="percent">80%</span>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </div>
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>WEB-DESIGN</span>
                                <span data-target="65" id="percent">65%</span>
                            </div>
                            <div class="line">
                                <span class="sfive"></span>
                            </div>
                        </div>
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>User-interface</span>
                                <span data-target="75" id="percent">75%</span>
                            </div>
                            <div class="line">
                                <span class="sevfive"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl__slide">
                <div class="sl__img_box">
                    <img class="sl__img" src="../img/Layer_103.jpg" alt="">
                    <div class="sl__img_hover">
                        <button><i class="fab fa-instagram"></i></button>
                        <button><i class="fab fa-facebook-f"></i></button>
                        <button><i class="fab fa-twitter"></i></button>
                    </div>
                </div>
                <div class="sl__text">
                    <div class="forborder">
                        <h4>Abdullah Noman</h4>
                        <span>Creative Director, Code Cafe</span>
                    </div>
                    <p>At vero eos et accusamus et iusto odio</br> dignissimos ducimus qui blanditiis praesentium</p>
                    <div class="progress_block">
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>Branding</span>
                                <span id="percent">80%</span>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </div>
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>WEB-DESIGN</span>
                                <span id="percent">65%</span>
                            </div>
                            <div class="line">
                                <span class="sfive"></span>
                            </div>
                        </div>
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>User-interface</span>
                                <span id="percent">75%</span>
                            </div>
                            <div class="line">
                                <span class="sevfive"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="sl__slide">
                <div class="sl__img_box">
                    <img class="sl__img" src="../img/Layer_103.jpg" alt="">
                    <div class="sl__img_hover">
                        <button><i class="fab fa-instagram"></i></button>
                        <button><i class="fab fa-facebook-f"></i></button>
                        <button><i class="fab fa-twitter"></i></button>
                    </div>
                </div>
                <div class="sl__text">
                    <div class="forborder">
                        <h4>Abdullah Noman</h4>
                        <span>Creative Director, Code Cafe</span>
                    </div>
                    <p>At vero eos et accusamus et iusto odio </br>dignissimos ducimus qui blanditiis praesentium</p>
                    <div class="progress_block">
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>Branding</span>
                                <span id="percent">80%</span>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </div>
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>WEB-DESIGN</span>
                                <span id="percent">65%</span>
                            </div>
                            <div class="line">
                                <span class="sfive"></span>
                            </div>
                        </div>
                        <div class="fst_line">
                            <div class="line_txt">
                                <span>User-interface</span>
                                <span id="percent">75%</span>
                            </div>
                            <div class="line">
                                <span class="sevfive"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="already_love">
    <div class="container">
        <div class="row">
            <div class="col-12 section-line">
                <p>At vero eos et <b>accusamus</b> et iusto odio <b>dignissimos</b> ducimus qui blanditiis </p>
                <button class="section-line-btn"><a href="#_subscribe">Start Project</a></button>
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-12 testimonials_title">
                <h3>Testimonials</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui </br> blanditiis praesentium</p>
            </div>
        </div>
        <div class="sl">
            <div class="sl-slide">
                <div class="row">
                    <div class="col-md-3 portrait-box">
                        <img src="../img/Layer_439.png" alt="photo">
                    </div>
                    <div class="col-md-9">
                        <div class="testimonials_item">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                                mollitia.</p>
                            <h4>PARTHO</h4>
                            <span>FOUNDER, ARTWAYS BD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-slide">
                <div class="row">
                    <div class="col-md-3 portrait-box">
                        <img src="../img/Layer_439.png" alt="photo">
                    </div>
                    <div class="col-md-9">
                        <div class="testimonials_item">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                                mollitia.</p>
                            <h4>PARTHO</h4>
                            <span>FOUNDER, ARTWAYS BD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sl-slide">
                <div class="row">
                    <div class="col-md-3 portrait-box">
                        <img src="../img/Layer_439.png" alt="photo">
                    </div>
                    <div class="col-md-9">
                        <div class="testimonials_item">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                                mollitia.</p>
                            <h4>PARTHO</h4>
                            <span>FOUNDER, ARTWAYS BD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="_blog" class="news">
    <div class="container-md">
        <div class="row">
            <div class="col-12 news_title">
                <h3>LATEST NEWS</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
            <div class="slider">
                <div class="sl_slide">
                    <div class="slide_title">
                        <h4>The trending Landing Pages</h4>
                        <em>by <span>Kabir Uddin</span></em></br>
                        <span>6950 Likes - 243 Comments - 703 shares</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                            non
                            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                            dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... </p>
                    </div>

                    <button class="more"><span>+</span> Read More</button>
                </div>
                <div class="sl_slide">
                    <div class="slide_title">
                        <h4>The trending Landing Pages</h4>
                        <em>by <span>Kabir Uddin</span></em></br>
                        <span>6950 Likes - 243 Comments - 703 shares</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                            non
                            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                            dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... </p>
                    </div>

                    <button class="more">+ Read More</button>
                </div>
                <div class="sl_slide">
                    <div class="slide_title">
                        <h4>The trending Landing Pages</h4>
                        <em>by <span>Kabir Uddin</span></em></br>
                        <span>6950 Likes - 243 Comments - 703 shares</span>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum
                            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                            non
                            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                            dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio... </p>
                    </div>

                    <button class="more">+ Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="price">
    <div class="container-md">
        <div class="row">
            <div class="col-12 price_title">
                <h3>Our Price</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus</br> qui blanditiis praesentium</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 price_box">
                <div class="price_item">
                    <div class="price_hover">
                        <ul>
                            <li>Full Branding</li>
                            <li>Project Management</li>
                            <li>Unlimited Revisions</li>
                            <li>24/7 h Service</li>
                            <li>Free Domain</li>
                            <li>Free Hosting</li>
                        </ul>
                        <button class="start">Let’s Start <i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="price_box_title">
                        <h4>PREMIUM</h4>
                    </div>
                    <div class="price_box_item">
                        <span>$ 60</span>
                        <p>Per Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 price_box">
                <div class="price_item">
                    <div class="price_hover">
                        <ul>
                            <li>Full Branding</li>
                            <li>Project Management</li>
                            <li>Unlimited Revisions</li>
                            <li>24/7 h Service</li>
                            <li>Free Domain</li>
                            <li>Free Hosting</li>
                        </ul>
                        <button class="start">Let’s Start <i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="price_box_title">
                        <h4>PREMIUM</h4>
                    </div>
                    <div class="price_box_item">
                        <span>$ 60</span>
                        <p>Per Month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 price_box">
                <div class="price_item">
                    <div class="price_hover">
                        <ul>
                            <li>Full Branding</li>
                            <li>Project Management</li>
                            <li>Unlimited Revisions</li>
                            <li>24/7 h Service</li>
                            <li>Free Domain</li>
                            <li>Free Hosting</li>
                        </ul>
                        <button class="start">Let’s Start <i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="price_box_title">
                        <h4>PREMIUM</h4>
                    </div>
                    <div class="price_box_item">
                        <span>$ 60</span>
                        <p>Per Month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="_subscribe" class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12 subscribe_title">
                <h3>Subscribe us</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui </br> blanditiis praesentium</p>
                <form action="#">
                    <input type="email" name="email" placeholder=" Email Address">
                    <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="_contact" class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-12 contact_us_title">
                <h3>Contact Us</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui <br> blanditiis praesentium</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 contact_item_box">
                <div class="contact_icon c-mail">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="contact_info">
                    <h4>EMAIL</h4>
                    <p>hello@codecafe.com
                        Personal@codecafe.com</p>
                </div>
            </div>
            <div class="col-md-4 contact_item_box">
                <div class="contact_icon c-map">
                    <i class="fas fa-map-marker"></i>
                </div>
                <div class="contact_info">
                    <h4>OUR OFFICE</h4>
                    <p>240 Bhatikhana, 8200 Barisal
                        Bangladesh</p>
                </div>
            </div>
            <div class="col-md-4 contact_item_box">
                <div class="contact_icon c-number">
                    <i class="far fa-phone-alt"></i>
                </div>
                <div class="contact_info">
                    <h4>PHONE</h4>
                    <p>+00 11 66 99 66 44
                        11 99 66 44 065</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="forms_contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="row">
                        <div class="col-md-4 inp-t">
                            <input type="text" name="name" placeholder="Your name">
                        </div>
                        <div class="col-md-4 inp-t">
                            <input type="email" name="email" placeholder="Email address">
                        </div>
                        <div class="col-md-4 inp-t">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>
                    </div>
                    <textarea rows="7"></textarea>
                    <button type="submit">SUBMIT NOW</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="map">
    <div class="map_hover">
        <h4>FIND US ON THE MAP</h4>
        <button id="find"><i class="fas fa-angle-down"></i></button>
    </div>
    <div id="mappin" style="overflow:hidden;width: 100%;position: relative;"><iframe height="440"
            src="https://maps.google.com/maps?width=702&amp;height=440&amp;hl=en&amp;q=USA+(Map)&amp;ie=UTF8&amp;t=&amp;z=6&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div
            style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
            <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
                    href="https://embedgooglemaps.com/fr/">https://embedgooglemaps.com/fr/</a> & <a
                    href="https://iamsterdamcard.it">i amsterdamcard it</a></small></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
    </div>

</section>