<section class="this_is_bouncy">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="is_bouncy_item">
                    <h3>This is Bouncy</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum
                        fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                    <button class="btn_primary-1">Read More</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="is_bouncy_img">
                    <img src="../img/IPAD.png" alt="ipad">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-block">
                    <h3>DetailS ABOUT BOUNCY</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui<br /> blanditiis praesentium</p>
                    <div class="about_btn_box">
                        <button><i class="far fa-heart"></i></button>
                        <button><i class="fas fa-mouse"></i></button>
                        <button><i class="far fa-lightbulb"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="about_txt_item">
                    <h4>Creative Ideas</h4>
                    <p>At <span>vero</span> eos et accusamus et iusto odio dignissimos <b>ducimus</b> qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="txt_item">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque <b>corrupti quos</b> dolores et quas molestias <span>excepturi</span> sint
                        occaecati cupiditate non provident, <b>similique</b> sunt in culpa qui officia deserunt mollitia
                        animi, id est laborum et dolorum fuga. Et harum quidem r</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured_projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="featured_title">
                    <h3>FEATURED PROJECTS</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 for-img">
                <div class="featured_img_box">
                    <img src="../img/Layer_83.png" alt="img1">
                </div>
            </div>
            <div class="col-md-3 for-img">
                <div class="featured_img_box vintage">
                    <div class="span_box">
                        <span>VINTAGE</span>
                    </div>
                    <!-- <img src="../img/Layer_17.png" alt="img1"> -->
                </div>
            </div>
            <div class="col-md-3 for-img">
                <div class="featured_img_box branding">
                    <div class="span_box">
                        <span>Branding</span>
                    </div>
                    <!-- <img src="../img/Layer_18.png" alt="img1"> -->
                </div>
            </div>
        </div>
        <!-- <div class="submit_line">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis </p>
            <button class="btn_primary-1">Submit Now</button>
        </div> -->

    </div>
</section>
<section class="submit">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 submit_line_item">
                <p>At vero eos et <span>accusamus</span> et iusto odio dignissimos ducimus qui blanditiis </p>
            </div>
            <div class="col-md-3 col-sm-12 submit_item">
                <button class="submit_btn">Submit Now</button>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12 service_title">
                <h3>Our Services</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 service_shelf">
                <div class="service_tool">
                    <button class="circle_btn tablink" onclick="openTab(event, 'first_tab')"><i
                            class="fas fa-tools"></i></button>
                    <button class="circle_btn tablink" onclick="openTab(event, 'second_tab')"><i
                            class="fas fa-paint-roller"></i></button>
                    <button class="circle_btn tablink" onclick="openTab(event, 'third_tab')"><i
                            class="fas fa-gamepad"></i></button>
                    <button class="circle_btn tablink" onclick="openTab(event, 'fourth_tab')"><i
                            class="fas fa-plug"></i></button>
                </div>
                <div class="service_shelf_item tab" style="display: block;" id="first_tab">
                    <h4>Graphic Design</h4>
                    <p>At vero eos et accusamus et <span>iusto</span> odio dignissimos <b>ducimus</b> qui blanditiis
                        praesentium voluptatum
                        deleniti</p>
                    <p>quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <span>similique
                            sunt</span>
                        in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
                </div>
                <div class="service_shelf_item tab" id="second_tab">
                    <h4>Branding</h4>
                    <p>Lorem ipsum dolor sit amet consectetur <span>adipisicing</span> elit. Accusamus vel illum cumque
                        quibusdam totam quod ab? Dolores, eos ducimus <b>numquam</b> reiciendis, laudantium sit rem
                        culpa iste, incidunt possimus natus nulla?</p>
                    <p>Morbi vitae hendrerit nibh. Maecenas <span>sem est</span> , pellentesque id purus auctor, euismod
                        venenatis elit. Maecenas convallis odio et aliquet accumsan.

                    </p>
                </div>
                <div class="service_shelf_item tab" id="third_tab">
                    <h4>Web Design</h4>
                    <p>Nunc mollis dolor sapien, sed aliquam sem porta id. Nulla accumsan <span>pretium</span> mi ac
                        auctor. Nulla tincidunt purus <b>eu nunc</b> facilisis feugiat. Pellentesque posuere nulla in
                        orci porta ornare.</p>
                    <p>Morbi et leo ac dui tincidunt <span>volutpat</span> . Quisque pharetra consectetur nunc, at
                        venenatis nisi
                        consequat et. Ut a interdum diam. Integer in dolor et lectus aliquet mollis ut non lectus.</p>
                </div>
                <div class="service_shelf_item tab" id="fourth_tab">
                    <h4>UI/UX</h4>
                    <p>Curabitur rhoncus tempor purus sed ultricies. Cras urna magna, <span>ultricies</span> eu mollis
                        ac, accumsan et velit. Fusce id <b>augue</b> nisi. Etiam tincidunt pellentesque gravida.</p>
                    <p>Proin tincidunt erat non eros ultrices vehicula. Praesent lorem tellus, <span>bibendum</span> nec
                        felis ac, eleifend tempus felis. </p>
                </div>
            </div>
            <div class="col-md-7 progress_bar">
                <!--  -->
                <div class="first circle">
                    <strong></strong>
                    <span>Branding</span>
                </div>
                <div class="second circle">
                    <strong></strong>
                    <span>Web Design</span>
                </div>
                <div class="third circle">
                    <strong></strong>
                    <span>UI/UX</span>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</section>
<section class="impressed">
    <div class="container">
        <div class="row">
            <div class="col-md-7 impressed_item">
                <h4>Impressed ?</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias</p>
                <p> - <b>Abdullah Noman</b><br />
                    Creatice Director, <span>Code Cafe</span> </p>
            </div>
            <div class="col-md-5 impressed_img">
                <div class="impressed_img_box">
                    <img src="../img/Group_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 gallery_title">
                <h3>THE PORTFOLIO</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui<br /> blanditiis praesentium</p>
            </div>
        </div>
        <!--  -->
        <div class="row">
            <div class="col-12 gallery_filter">
                <ul>
                    <!-- https://www.youtube.com/watch?v=icZRbxwHQ4s -->
                    <li><a>All works</a></li>
                    <li><a>Print</a></li>
                    <li><a>Identity</a></li>
                    <li><a>Branding</a></li>
                    <li><a>Web</a></li>
                    <li><a>HTML</a></li>
                    <li><a>Wordpress</a></li>
                </ul>
            </div>
        </div>
        <!-- ------gallery start------ -->
        <div class="gallery_container">
            <div class="gallery_item">
                <div class="gallery_item_box" id="item-one">
                    <img src="../img/gallery-1.jpg" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-two">
                    <img src="../img/gallery-2.jpg" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-three">
                    <img src="../img/gallery-3.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-four">
                    <img src="../img/gallery-4.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-five">
                    <img src="../img/gallery-5.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-six">
                    <img src="../img/gallery-6.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-seven">
                    <img src="../img/gallery-7.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-eight">
                    <img src="../img/gallery-8.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-nine">
                    <img src="../img/gallery-9.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-ten">
                    <img src="../img/gallery-10.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-eleven">
                    <img src="../img/gallery-11.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="gallery_item_box" id="item-twelve">
                    <img src="../img/gallery-12.png" alt="">
                    <div class="gallery_hover">
                        <h3>TITLE HERE</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                        <button><i class="fas fa-link"></i></button>
                        <button><i class="far fa-heart"></i></button>
                    </div>
                </div>


                <!-- <img src="../img/gallery-1.jpg" alt="">
                <img src="../img/gallery-2.jpg" alt="">
                <img src="../img/gallery-3.png" alt="">
                <img src="../img/gallery-4.png" alt="">
                <img src="../img/gallery-5.png" alt="">
                <img src="../img/gallery-6.png" alt="">
                <img src="../img/gallery-7.png" alt="">
                <img src="../img/gallery-8.png" alt="">
                <img src="../img/gallery-9.png" alt="">
                <img src="../img/gallery-10.png" alt="">
                <img src="../img/gallery-11.png" alt="">
                <img src="../img/gallery-12.png" alt=""> -->
            </div>
        </div>
        <!-- ----------gallery end---------- -->
        <!--  -->
    </div>
</section>