<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="brand-logo animated fadeInDown delay-1s">
          <a href="#">
            <h1>BOUNCY</h1>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <nav>
          <input type="checkbox" id="burger" onclick="forMenu()">
          <label for="burger">
            <span class="first_span"></span>
            <span class="second_span"></span>
            <span class="third_span"></span>
            <ul>
              <li class="menu_item"><a href="#">Home</a></li>
              <li class="menu_item"><a href="#_about">About</a></li>
              <li class="menu_item"><a href="#_services">Services</a></li>
              <li class="menu_item"><a href="#_portfolio">Portfolio</a></li>
              <li class="menu_item"><a href="#_team">Team</a></li>
              <li class="menu_item"><a href="#_blog">Blog</a></li>
              <li class="menu_item"><a href="#_contact">Contact</a></li>
            </ul>
          </label>
        </nav>
      </div>
    </div>
  </div>
</header>