// Background colors
$bgc--color-primary_1: #19bd9a;
$bgc--color-primary_2: #81868e;
$bgc--color-primary_3: #a6adb8;
$bgc--color-primary_4: #f3f3f3;
$bgc--color-primary_5:rgba(0, 0, 0, 0.8);
$bgc--color-primary_6:rgba(0, 0, 0, 0.6);
// $bgc--color-primary_3:




// Text colors

$font--color-primary_1: #fff;
$font--color-primary_2: #333b46;
$font--color-primary_3: #81868e;
$font--color-primary_4: #19bd9a;
$font--color-primary_5: #636971;
$font--color-primary_6: #464646;
$font--color-primary_7: #323a45;
$font--color-primary_8: #f3f3f3;
$font--color-primary_9: #b2b3b3;



// Button colors

// $btn--color-primary_1: #;

$bgc--hover-primary_1: #0e705b;
// Border colors
$border--color-primary_1: #333b46;
$border--color-primary_2: #ffffff;
// $border--color-primary_1:#e3e3e3;
